@model Siege.Security.Admin.Security.Models.RoleModel

@{
    Layout = "~/Areas/Security/Views/Shared/SecurityLayout.cshtml";
    ViewBag.Title = "Security Administration - New Role";
    ViewBag.Type = "Role";
    var modelID = Model != null ? Model.RoleID.ToString() : "";
}


<div id="title"><h2>New Role</h2></div>
<form id="form">
    <div id="security_details">
        <div id="row">
            <div id="cell">@Html.LabelFor(model => model.Name):</div>
            <div id="cell">@Html.TextBoxFor(model => model.Name)<em>*</em></div>
        </div>
        <div id="row">
            <div id="cell">@Html.LabelFor(model => model.Description):</div>
            <div id="cell">@Html.TextAreaFor(model => model.Description)<em>*</em></div>
        </div>
        <div id="row">
            <div id="cell">Is Active?:</div>
            <div id="cell">@Html.CheckBoxFor(model => model.IsActive)</div>
        </div>
    </div>
    <div id="notifications" style="padding-left: 30px; padding-top: 5px; vertical-align:top; font-weight:bolder;"></div>
    <div id="security_groups_roles">
        <div id="cell">@Html.Partial("EditPermissions")</div>
    </div>
    <div id="security_actions">
        <a href="#" onclick="javascript:saveRole();">Save</a>
        <a href="#" onclick="javascript:window.location='/Security/Roles/Index/';">Cancel</a>
    </div>
</form>

<script type="text/javascript">
    function saveRole() {
        $("#notifications").html("");
        SetSelectedPermissions();

        if ($("#Name")) {
            var roleName = $("#Name").val();
            if (roleName == "") {
                $("#notifications").addClass("error");
                $("#notifications").html("Role name is required");
                return;
            }
        }

        $("#security_actions").css('display', 'none');

        $.ajax({
            type: 'POST',
            url: '/Security/Roles/Save/@(modelID)',
            cache: false,
            data: $("form").serialize(),
            success: function (data) {
                backToRoles();
            },
            error: function (xmlHttpRequest, textStatus, errorThrown) {
                $("#notifications").addClass("error");
                $.fn.statusmessageQ({
                    'message': 'Error: ' + xmlHttpRequest.responseText,
                    'type': 'error',
                    'timeout': 4000,
                    'show': 'animation',
                    'target': '#notifications',
                    'hide': 'fadeout'
                });
                $("#security_actions").css('display', '');
            },
            async: false
        });
    }

    function backToRoles() {
        $(location).attr('href', '/Security/Roles/Index/');
    }
</script>