@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/styles/ui.jqgrid.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/styles/SecurityAdmin.css")" />
    <script src="@Url.Content("~/scripts/jqGrid/js/i18n/grid.locale-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jqGrid/js/jquery.jqGrid.src.js")" type="text/javascript"> </script>
}

<div id="security_section">
    <div id="security_menu">
        <div id="security_menu_header">Security
            <div id="security_menu_row"> - <a href="/Security/Applications/Index">Applications</a></div>
            <div id="security_menu_row"> - <a href="/Security/Users/Index">Users</a></div>
            <div id="security_menu_row"> - <a href="/Security/Groups/Index">Groups</a></div>
            <div id="security_menu_row"> - <a href="/Security/Roles/Index">Roles</a></div>
            <div id="security_menu_row"> - <a href="/Security/Permissions/Index">Permissions</a></div>
        </div>
    </div>    
    <div id="security_body">
        @RenderBody()
    </div>
</div>