@model Siege.Security.Admin.Security.Models.GroupModel

@{
    Layout = "~/Areas/Security/Views/Shared/SecurityLayout.cshtml";
    ViewBag.Title = "Security Administration - Edit Group";
    ViewBag.Type = "Group";
    ViewBag.ID = Model.GroupID;
}

<span id="title"><h2>Edit Group</h2></span>
<form id="form">
    <div id="security_details">
        <div id="row">
             @Html.HiddenFor(model => model.GroupID)
            <div id="cell">@Html.LabelFor(model => model.Name):</div>
            <div id="cell">@Html.TextBoxFor(model => model.Name)<em>*</em></div>
        </div>
        <div id="row">
            <div id="cell">@Html.LabelFor(model => model.Description):</div>
            <div id="cell">@Html.TextAreaFor(model => model.Description)<em>*</em></div>
        </div>
        <div id="row">
            <div id="cell">Is Active?:</div>
            <div id="cell">@Html.CheckBoxFor(model => model.IsActive)</div>
        </div>
    </div>
    <div id="notifications" style="padding-left: 30px; padding-top: 5px; vertical-align:top; font-weight:bolder;"></div>
    <div id="security_groups_roles">
        <div id="cell">@Html.Partial("EditRoles")</div>
    </div>
    <div id="security_actions">
        <a href="#" onclick="javascript:saveGroup();">Save</a>
        <a href="#" onclick="javascript:window.location='/Security/Groups/Index/';">Cancel</a>
    </div>
</form>

<script type="text/javascript">

    function Show() {
        $("#consumerList").hide();

        if ($("#consumers").is(":visible")) {
            $("#consumerID").val($("#consumers").val());
        } else {
            $("#consumerID").val($.getUrlVar("ConsumerID"));
        }

        if ($("#applications").is(":visible")) {
            $("#applicationID").val($("#applications").val());
        } else {
            $("#applicationID").val($.getUrlVar("ApplicationID"));
        }

        var applicationID = $("#applicationID").val();
        var consumerID = $("#consumerID").val();
        
        ShowRoles('/Security/Roles/ForGroup/?GroupID=@(Model.GroupID)&ApplicationID='+applicationID+'&ConsumerID='+consumerID);
    }

    function saveGroup() {
        $("#notifications").html("");
        SetSelectedRoles();

        if ($("#Name")) {
            var groupName = $("#Name").val();
            if (groupName == "") {
                $("#notifications").addClass("error");
                $("#notifications").html("Group name is required");
                return;
            }
        }

        $("#actions").css('display', 'none');

        $.ajax({
            type: 'POST',
            url: '/Security/Groups/Save/@(Model.GroupID)',
            cache: false,
            data: $("form").serialize(),
            success: function (data) {
                backToGroups();
            },
            error: function (xmlHttpRequest, textStatus, errorThrown) {
                $("#notifications").addClass("error");
                $.fn.statusmessageQ({
                    'message': 'Error: ' + xmlHttpRequest.responseText,
                    'type': 'error',
                    'timeout': 4000,
                    'show': 'animation',
                    'target': '#notifications',
                    'hide': 'fadeout'
                });
                $("#security_actions").css('display', '');
            },
            async: false
        });
    }

    function backToGroups() {
        $(location).attr('href', '/Security/Groups/Index/');
    }
</script>