@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("/Security/styles/ui.jqgrid.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("/Security/styles/SecurityAdmin.css")" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="@Url.Content("/Security/scripts/grid.locale-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Security/scripts/jquery.jqGrid.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("/Security/scripts/jquery.statusMessageQ.js")" type="text/javascript"> </script>
}

<div id="security_section">
    <div id="security_menu">
        <div id="security_menu_header">Security
            <div id="security_menu_row"> - <a id="applications_link" href="/Security/Applications/Index/">Applications</a></div>
            <div id="security_menu_row"> - <a id="consumers_link" href="/Security/Consumers/Index/">Consumers</a></div>
            <div id="security_menu_row"> - <a id="users_link" href="/Security/Users/Index/">Users</a></div>
            <div id="security_menu_row"> - <a id="groups_link" href="/Security/Groups/Index/">Groups</a></div>
            <div id="security_menu_row"> - <a id="roles_link" href="/Security/Roles/Index/">Roles</a></div>
        </div>
    </div>    
    <div id="security_body">
        <div>
            <div id="consumerList">Select A Consumer:
                <select id="consumers" onchange="GetApplicationFor(0);"></select>
            </div>
            <div id="consumerSingle">
                <h3>Consumer: <span id="consumer"></span></h3>
            </div>
            <div id="applicationList">Select An Application:
                <select id="applications" onchange="Update();"></select>
            </div>
            <div id="applicationSingle">
                <h3>Application: <span id="application"></span></h3>
            </div>
        </div>
        <input type="hidden" id="consumerID" />
        <input type="hidden" id="applicationID" />
        <br/>
        <hr/>
        
        @RenderBody()
    </div>
</div>

<script language="javascript" type="text/javascript">

    $.extend({
        getUrlVars: function () {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        },
        getUrlVar: function (name) {
            return $.getUrlVars()[name];
        }
    });

    $(document).ready(function () {

        var consumerID = $.getUrlVar("consumerID");

        $("#consumerList").hide();
        $("#consumerSingle").hide();
        $("#applicationList").hide();
        $("#applicationSingle").hide();

        var consumerGetUrl = "/Security/Consumers/Get/";

        if (consumerID != null) {
            consumerGetUrl += consumerID;
        }
        
        $.getJSON(consumerGetUrl, function (result) {
            var options = $("#consumers");
            if (result.total > 1) {
                $.each(result.rows, function () {
                    options.append($("<option />").val(this.id).text(this.Name));
                });

                $("#consumerList").show();
                $("#consumerID").val($("#consumers").val());
                GetApplicationFor(0);
            } else {
                $("#consumerID").val(result.rows[0].id);
                GetApplicationFor(result.rows[0].id);
            }
        });
    });

    function GetApplicationFor(id) {

        if (id == 0 || id == null)
            id = $("#consumers").val();

        var applicationGetUrl = "/Security/Applications/GetForConsumer/" + id;
        var applicationID = $.getUrlVar("applicationID");

        if (applicationID != null) {
            applicationGetUrl = "/Security/Applications/Get/" + applicationID;
        }
        
        $.getJSON(applicationGetUrl, function (result) {
            var options = $("#applications");
            if (result.total > 1) {
                $.each(result.rows, function() {
                    options.append($("<option />").val(this.id).text(this.Name));
                });

                $("#applicationList").show();
                $("#applicationID").val($("#applications").val());
            } else {
            
                $("#application").text(result.rows[0].Name);
                $("#applicationID").val(result.rows[0].id);
                $("#applicationSingle").show();
            }
            Update();
        });

        //Show();
    }

    function Update() {

        var applicationID = $("#applicationID").val();
        var consumerID = $("#consumerID").val();

        $("#applications_link").attr("href", "/Security/Applications/Index/?applicationID=" + applicationID + "&consumerID=" + consumerID);
        $("#consumers_link").attr("href", "/Security/Consumers/Index/?applicationID=" + applicationID + "&consumerID=" + consumerID);
        $("#groups_link").attr("href", "/Security/Groups/Index/?applicationID=" + applicationID + "&consumerID=" + consumerID);
        $("#roles_link").attr("href", "/Security/Roles/Index/?applicationID=" + applicationID + "&consumerID=" + consumerID);
        $("#users_link").attr("href", "/Security/Users/Index/?applicationID=" + applicationID + "&consumerID=" + consumerID);
    }
</script>